.home-panel {
  h3.underline {
    border-bottom: 1px solid #ccc;
  }

  ul, ol {
    margin: 0;        // clear default styling

    li {
      // font-weight: bold;
      @media #{$medium-only} { font-size: 10px; }
      margin: 0 0 .8em 0;

      p { margin: 0 !important; }

    }
  }
  ul { list-style: none }
  ol { margin: 0 0 0 1em; }
}
a.more-link {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff;
  font-family: FuturaBold, sans-serif;
  display: inline-block;
  padding: 4px 0 0 27px;
  height: 22px;
  line-height: 14px;
  background: image-url("sprite.png") no-repeat scroll 0 -422px;
}