---
title: Research Activities
---
  
.row
  .twelve.large-12.columns
    %h3= current_page.data.title
    %ol 
      %li Extracellular single neuron electrophysiology
      %li Stereotaxic surgery
      %li Behavioral training
      %li Real-time decoding for brain machine interfaces
      %li Intra-cortical microstimulation
      %li Axonal tract tracing
      %li Immunohistochemistry
      %li Confocal microscopy
      %li Tetrode assembly
      %li Signal Processing Techniques
      %li Machine Learning Algorithms