---
title: Research
---
  
.row
  .twelve.large-12.columns
    %h4 Overview
    %p The primary focus of research in our lab is to understand how the brain encodes sensory information and integrates this to produce intelligent motor output. We want to be able to use this knowledge to investigate changes in network activity under conditions of neural injury or dysfunction.

    %p One of our long-term goals is to restore locomotion after spinal cord injury by utilizing cortical resources. In this context, we are examining plasticity in cortical sensorimotor networks induced by therapies after spinal cord injury that result in improved recovery of locomotor abilities. Beyond stereotypic locomotion, it is essential to be able to restore voluntary control of the lower limbs for avoiding obstacles, navigating complex terrain and maintain balance after spinal injury. Hence we are also investigating the contributions of neurons in the sensorimotor cortex in producing goal-directed and compensatory limb movements, and ultimately, to use this insight to optimize the development of a closed loop brain machine interface for restoration of lower limb function.

    %p Another parallel research focus is to understand the network dynamics underlying seizure generation in the epileptic brain. The goal here will be to design a close-loop implantable device that can record neural activity from brain, analyze the data, predict seizure timing, and automatically deliver electrical intervention to abort seizures.

    %p Our experimental approaches include stereotaxic surgery, simultaneous recordings of multiple single-neurons, behavior, real-time online decoding, gait analysis, electromyography, intracortical microstimulation, axonal tracing and immunohistochemistry. Our computational approaches include signal processing techniques, decoding algorithms, information theory, and machine-learning algorithms. For more details of the research in our laboratory click here.
    
    %ol
      - data.pages.select do |page|
        -if page.title == current_page.data.title
          - page.sub_pages.select do |sub_page|
            %li= link_to sub_page.title, "/#{page.url}/#{sub_page.url}"