---
title: Contact
---
  
.row
  .twelve.large-12.columns
    %h3= current_page.data.title
    %p
      %strong Dr. Karen Moxon, Ph.D.
    %ul(style="list-style:none; margin: 0;")
      %li Email: <a href="mailto:karen.moxon@drexel.edu">karen.moxon@drexel.edu</a> <br>
      %li Office: Bossone 629-B <br>
      %li Phone: 215.895.1959 <br>
      %li Fax: 215.895.4983
    </p>